In [17]:
import pandas as pd
import numpy as np

In [18]:
#load the dataset
df = pd.read_csv('dataset.csv')

In [19]:
df.head()

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2023,202301,NaN,NaN,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2023,202302,NaN,NaN,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2023,202303,NaN,NaN,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2023,202304,NaN,NaN,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2023,202305,NaN,NaN,NaN,NaN,NaN

In [20]:
#Remove the JAHR values that are greater than 2021
df = df[df['JAHR'] <= 2021]
df.head()

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
24,Alkoholunfälle,insgesamt,2021,202101,16.0,28.0,23.08,-42.86,35.0
25,Alkoholunfälle,insgesamt,2021,202102,14.0,40.0,-12.50,-65.00,33.0
26,Alkoholunfälle,insgesamt,2021,202103,24.0,27.0,71.43,-11.11,32.0
27,Alkoholunfälle,insgesamt,2021,202104,16.0,26.0,-33.33,-38.46,32.0
28,Alkoholunfälle,insgesamt,2021,202105,24.0,40.0,50.00,-40.00,30.0

In [21]:
#print all unique values in the first 3 columns
print(df['JAHR'].unique())
print(df['MONATSZAHL'].unique())
print(df['AUSPRAEGUNG'].unique())

[2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008
 2007 2006 2005 2004 2003 2002 2001 2000]
['Alkoholunfälle' 'Fluchtunfälle' 'Verkehrsunfälle']
['insgesamt' 'Verletzte und Getötete' 'mit Personenschäden']

In [22]:
# rename the columns
# MONATSZAHL -> Category
# AUSPRAEGUNG -> Accident-type
# JAHR -> Year
# MONAT -> Month
# WERT -> Value
# VERAEND_VORMONAT_PROZENT -> CHANGE FROM PREVIOUS MONTH PERCENTAGE
# VORJAHRESWERT -> PREVIOUS YEAR VALUE
# VERAEND_VORJAHRESMONAT_PROZENT -> CHANGE FROM PREVIOUS YEAR MONTH PERCENTAGE
# ZWOELF_MONATE_MITTELWERT -> TWELVE MONTHS AVERAGE
df = df.rename(columns={'MONATSZAHL': 'Category', 'AUSPRAEGUNG': 'Accident-type', 'JAHR': 'Year', 'MONAT': 'Month', 'WERT': 'Value', 'VERAEND_VORMONAT_PROZENT': 'CHANGE FROM PREVIOUS MONTH PERCENTAGE', 'VORJAHRESWERT': 'PREVIOUS YEAR VALUE', 'VERAEND_VORJAHRESMONAT_PROZENT': 'CHANGE FROM PREVIOUS YEAR MONTH PERCENTAGE', 'ZWOELF_MONATE_MITTELWERT': 'TWELVE MONTHS AVERAGE'})
df.head()

,Category,Accident-type,Year,Month,Value,PREVIOUS YEAR VALUE,CHANGE FROM PREVIOUS MONTH PERCENTAGE,CHANGE FROM PREVIOUS YEAR MONTH PERCENTAGE,TWELVE MONTHS AVERAGE
24,Alkoholunfälle,insgesamt,2021,202101,16.0,28.0,23.08,-42.86,35.0
25,Alkoholunfälle,insgesamt,2021,202102,14.0,40.0,-12.50,-65.00,33.0
26,Alkoholunfälle,insgesamt,2021,202103,24.0,27.0,71.43,-11.11,32.0
27,Alkoholunfälle,insgesamt,2021,202104,16.0,26.0,-33.33,-38.46,32.0
28,Alkoholunfälle,insgesamt,2021,202105,24.0,40.0,50.00,-40.00,30.0

In [23]:
# rename all the values of the category
# 'Alkoholunfälle' -> 'Alcohol accidents'
# 'Fluchtunfälle' -> 'Hit and run accidents'
# 'Verkehrsunfälle' -> 'Traffic accidents'
df['Category'] = df['Category'].replace(['Alkoholunfälle', 'Fluchtunfälle', 'Verkehrsunfälle'], ['Alcohol accidents', 'Hit and run accidents', 'Traffic accidents'])
df.head()

,Category,Accident-type,Year,Month,Value,PREVIOUS YEAR VALUE,CHANGE FROM PREVIOUS MONTH PERCENTAGE,CHANGE FROM PREVIOUS YEAR MONTH PERCENTAGE,TWELVE MONTHS AVERAGE
24,Alcohol accidents,insgesamt,2021,202101,16.0,28.0,23.08,-42.86,35.0
25,Alcohol accidents,insgesamt,2021,202102,14.0,40.0,-12.50,-65.00,33.0
26,Alcohol accidents,insgesamt,2021,202103,24.0,27.0,71.43,-11.11,32.0
27,Alcohol accidents,insgesamt,2021,202104,16.0,26.0,-33.33,-38.46,32.0
28,Alcohol accidents,insgesamt,2021,202105,24.0,40.0,50.00,-40.00,30.0

In [24]:
# rename all the values of the accident-type
# 'insgesamt' -> 'Total'
# 'Verletzte und Getötete' -> 'Injured and killed'
# 'mit Personenschäden' -> 'With personal injury'
df['Accident-type'] = df['Accident-type'].replace(['insgesamt', 'Verletzte und Getötete', 'mit Personenschäden'], ['Total', 'Injured and killed', 'With personal injury'])
df.head()

,Category,Accident-type,Year,Month,Value,PREVIOUS YEAR VALUE,CHANGE FROM PREVIOUS MONTH PERCENTAGE,CHANGE FROM PREVIOUS YEAR MONTH PERCENTAGE,TWELVE MONTHS AVERAGE
24,Alcohol accidents,Total,2021,202101,16.0,28.0,23.08,-42.86,35.0
25,Alcohol accidents,Total,2021,202102,14.0,40.0,-12.50,-65.00,33.0
26,Alcohol accidents,Total,2021,202103,24.0,27.0,71.43,-11.11,32.0
27,Alcohol accidents,Total,2021,202104,16.0,26.0,-33.33,-38.46,32.0
28,Alcohol accidents,Total,2021,202105,24.0,40.0,50.00,-40.00,30.0

In [25]:
# check for missing values
print(df.isnull().sum())

Category                                       0
Accident-type                                  0
Year                                           0
Month                                          0
Value                                          0
PREVIOUS YEAR VALUE                           84
CHANGE FROM PREVIOUS MONTH PERCENTAGE          8
CHANGE FROM PREVIOUS YEAR MONTH PERCENTAGE    85
TWELVE MONTHS AVERAGE                          0
dtype: int64